 git+https://github.com/jadechoghari/egl_probe.git#egg=egl_probe
 hydra-core==1.2.0
 numpy
 wandb 
 easydict
 transformers
 opencv-python
 robomimic==0.2.0 
 einops
 thop
 robosuite==1.4.0
 bddl==1.0.1
 future==0.18.2 
 matplotlib
 cloudpickle
 gym
